.container {
  width: 500px;
  margin-top: 80px;
  background: #F2F2F2;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

h1 {
  color: #1DB5B2;
  margin-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #2C2C2C;
  text-align: initial;
}

input {
  background-color: #F2F2F2;
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 16px;
  margin-bottom: 25px;
}

input:focus {
  outline: none;
  border-color: #1DB5B2;
  box-shadow: 0 0 5px rgba(29, 181, 178, 0.5);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #eee;
  font-size: 18px;
  color: #2C2C2C;
  transition: 0.2s;
}

li:hover {
  background-color: #1DB5B2;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}